<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Png2WinIco.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Png2WinIco.Properties.Settings>
            <setting name="FormPosX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FormPosY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OpenDialogIniDir" serializeAs="String">
                <value />
            </setting>
        </Png2WinIco.Properties.Settings>
    </userSettings>
</configuration>